/* --- Navbar Glow Effect (unchanged) --- */
.navbar-glow {
  position: relative;
}

.navbar-glow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  display: block;
  background: linear-gradient(90deg, #FFA500, #FFA500, #FA5006);
  background-size: 200% 100%;
  animation: glowBorder 3s linear infinite;
  box-shadow: 0 0 10px rgb(242, 245, 48);
  z-index: 10;
}

@keyframes glowBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

